body::-webkit-scrollbar {
    width: 0.5em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
* {
    margin: 0;
    padding: 0;
    font-family: Quicksand, sans-serif;
}
@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}
.collapse ul li a{ 
    text-decoration: none;

}
.wrapper {
    height: 100vh;
    /*width: 100vw;*/
    position: relative;
    text-align: center;
    color: white;
    background-image: url("../img/swac1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
}

/* Centered text */
.wrapper > .text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper > .text-center > h1 {    
    font-size: 7.5rem;
    opacity: 0.7;
}
.carousel-inner > .carousel-item > img { height: 70vh;  }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}
.card-text {
    font-size: 0.8rem;
}
.card-img-top {
    width: 100%; height: 15vw; object-fit: cover;
}
footer {
    background: black;
    color: white;
}

footer > .container-fluid > .row > .col-md-3 > ul > li > a {
    opacity:1;
    color: white;
}
footer > .container-fluid > .row > .col-md-3 > ul > li > a:hover {
    opacity:0.5;
}
.fab {
    margin: 9px; 
    padding-top: 6px; 
  font-size: 2rem;
  width: 50px;
  height: 50px;
  background: white;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
@media screen and (max-width: 600px) {
    .wrapper > .text-center > h1 {    
        font-size: 5.4rem;
    }
    
    .container > .row > .col-sm > .card > img {
        height: 50vw;
        object-fit: cover;
    }
    .carousel-inner > .carousel-item > img { height: 50vh; }
    
}